.footer{
    background: $main;
    position: relative;
    width: 100%;
    height: 21vh;
    display: flex;
    justify-content: center;
    clear: both;
    margin-top: 20%;

    & a{
        color: $secondary;
        padding-top: 15px;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        font-family: $main-font;
    }

    & .group1{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: .3rem;
        left: 1rem;
        width: 23%;
        color: $secondary;
        

        & .facebook{
            cursor: pointer;
            font-size: 2rem;
            

            &:active{
                color: $forth;
            }
        }


        & .twitter{
            cursor: pointer;
            font-size: 2rem;

            &:active{
                color: $forth;
            }
        }
    }
    & .group2{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 23%;
        top: .3rem;
        right: 1rem;
        color: $secondary;
        font-size: 1.7rem;

        & .instagram{
            cursor: pointer;
            font-size: 2rem;

            &:active{
                color: $forth;
            }
        }

        & .youtube{
            cursor: pointer;
            font-size: 2rem;

            &:active{
                color: $forth;
            }
        }
    }

    & .company{
        position: absolute;
        color: $secondary;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        top: 5rem;
        font-size: 1.3rem;
        cursor: pointer;

        & p{
            font-family: $third-font;
            font-weight: bold;

            &:active{
                color: $forth;
            }
        }
    }

    & .end{
        position: absolute;
        color: $secondary;
        bottom: 1rem;
    }
}