.nav{
    background: $main;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 5rem;
    z-index: 5;
    overflow: hidden;

    & #nav-brand{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15%;
        color: $secondary;
        text-decoration: none;
        font-weight: bold;
        font-size: calc(2rem + 8 * ((100vw - 320px) / 680));
        font-family: $main-font;
    }
    
}

.hamburger{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    width: 25px;
    height: 25px;
    @include transition-ease;
    cursor: pointer;
}

.hamburger-icon{
    position: absolute;
    top: 45%;
    width: 100%;
    height: 3px;
    background: $secondary;
    @include transition-ease;
    

    &::before{
        content: '';
        position: absolute;
        top: -10px;
        background: $secondary;
        width: 100%;
        height: 3px;
        @include transition-ease;
    }
    &::after{
        content: '';
        position: absolute;
        top: 10px;
        background: $secondary;
        width: 100%;
        height: 3px; 
        @include transition-ease;       
    }
    &.open{
        transform: rotate(720deg);
        background: transparent;

        &::before{
            transform: rotate(45deg) translate(7px, 7px);
        }
        &::after{
            transform: rotate(-45deg) translate(6px, -7px);
        }
    }

}

.cart-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4.5rem;
    cursor: pointer;
    color: $secondary;
    font-size: 1.5rem;

    &:hover{
        color: $forth;
    }

    & span{
        padding-left: 10px;
        float: left;
    }
}

