.about{

    &-title{
        @include display-flex;
        background: $secondary;
        color: $forth;
        height: 25vh;
        font-size: 1.5rem;
        font-family: $secondary-font;
    }

    &-section{
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        height: 50vh;
        @include display-flex;
        font-family: $third-font;
        font-weight: map-get($font-weights, medium )
    }
}