.product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 30px 10px 30px 10px;
    

    & .item{
        width: calc(100vw - 728px);
        min-width: 150px;
        max-width: 250px;
        height: calc(100vw - 728px);
        max-height: 350px;
        min-height: 210px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;

        & .stars{
            position: absolute;
            bottom: 3rem;
            font-size: calc(1rem + 4 * ((100vw - 320px) / 680));
        }

        & .img{
            height: 80%;
            position: relative;
            flex-direction: column;
            align-items: center;
            display: flex;
        }


        & img{
            padding-top: 5px;
            max-width: 240px;
            width: auto;
            height: 80%;
            border-radius: 10px;
            cursor: pointer;
            @include transition-ease;

            &:hover{
                filter: drop-shadow(0px 0px 10px black);
            }
        }

        & .back-pack{
            position: absolute;
            left: .5rem;
            bottom: .5rem;
            font-weight: bold;
            font-size: calc(.8rem + 4 * ((100vw - 320px) / 680));
            font-family: $secondary-font;
        }
        & .price{
            position: absolute;
            right: .5rem;
            bottom: .3rem;
            font-family: $third-font;
            font-weight: bold;
        }
    }
}