@import 'config';
@import './nav/nav';
@import './nav/menu';
@import './main/header.scss';
@import './main/body.scss';
@import './footer/footer.scss';
@import './main/product.scss';
@import './main/about.scss';
@import './main//contact.scss';
@import './main/shipping.scss';
@import './loader.scss';
@import './main/item.scss';
@import './main/cart.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  background: $forth;
}